/*$primary-color: rgb(68,68,68);
$secondary-color: rgb(255, 87, 51); 
$text-color: rgb(255,255,255);*/
/* Set text color depending on background */
/* We need a function for this not a @mixin */
/* Here we add the media query mixins for responsiveness */
/* ===== Menu button =====*/
.menu-btn {
  position: absolute;
  right: 35px;
  top: 35px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease-out; }
  .menu-btn .btn-line {
    background: white;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    transition: all 0.3s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6.5px, -6px); }

/* === Main manu overlay === */
.menu {
  visibility: hidden;
  opacity: 0.97;
  width: 100%;
  top: 0;
  position: fixed;
  /* Here we take care of the navigation part to come down from the top*/
  /* Here we take care of the branding part of the navigation to come up from the bottom*/
  /* Navigation items setup to slide from the right*/
  /* Style for the links */ }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #1b354b;
    transform: translate3d(0, -100%, 0);
    transition: all 0.3s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #22425e;
    transform: translate3d(0, 100%, 0);
    transition: all 0.3s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../images/onel-6.png");
      background-position: center;
      border-radius: 50%;
      border: 3px solid #ff5733; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.3s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #ff5733; }
  .menu .nav-link {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    padding: 1rem 0;
    color: white; }
    .menu .nav-link:hover {
      color: #ff5733; }

/* To create the effect of each nav item coming after the other from the right*/
/*We use a sass for loop to go through all our items and delay their showing by 0.1s*/
.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.nav-item:nth-child(6) {
  transition-delay: 0.6s; }

* {
  box-sizing: border-box; }

body {
  font-family: "Josefin Sans", sans-serif;
  background: #22425e;
  color: rgba(255, 255, 255, 0.8);
  height: 100%;
  margin: 0;
  line-height: 1.5; }
  body#bg-image {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-image .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(34, 66, 94, 0.9);
      z-index: -1; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(37, 71, 101, 0.5); }

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-second {
  color: #ff5733;
  letter-spacing: 0.2rem; }

.text-decor {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  background: #294f71;
  padding: 1rem 0.5rem 0.5rem; }

main {
  padding: 4rem;
  min-height: calc(100vh - 4rem); }
  main .icons {
    margin: 1rem 0; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #ff5733;
        transition: all 0.3s ease-out; }
  main .media-icons-home {
    padding-left: 0.6rem;
    list-style: none; }
  main .media-icons-contact {
    padding-left: 0;
    list-style: none; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

/* --- About --- */
.about-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "bioimage bio bio" "experience-header experience-header experience-header" "job1 job2 job3" "edu-skills-header edu-skills-header edu-skills-header" "education skills skills" "languages languages languages";
  grid-template-columns: repeat(3, 1fr); }

.about-image {
  grid-area: bioimage;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #ff5733; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.bio-desc {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8); }

.job-1 {
  grid-area: job1; }

.job-2 {
  grid-area: job2; }

.job-3 {
  grid-area: job3; }

.job {
  background: #294f71;
  padding: 0.5rem;
  border-bottom: 5px solid #ff5733;
  text-align: left; }

.job h3 {
  margin-bottom: 1rem; }

.job p {
  letter-spacing: 0.1rem; }

.experience-header {
  grid-area: experience-header;
  padding: 1.5rem 0; }

.edu-skills-header {
  grid-area: edu-skills-header;
  padding: 1.5rem 0; }

.edu-header {
  text-align: center;
  letter-spacing: 0.15rem;
  padding: 1.8rem 0 1.6rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(255, 87, 51, 0.5); }

.edu-item p,
.job h5 {
  letter-spacing: 0.15rem;
  font-weight: 600;
  opacity: 0.8; }

.skills-header {
  grid-area: skills-header;
  max-height: 100px;
  text-align: center;
  letter-spacing: 0.15rem;
  padding: 1.8rem 0 1.6rem;
  border: 1px solid rgba(255, 87, 51, 0.5); }

.education {
  grid-area: education;
  height: auto; }

.skills {
  grid-area: skills;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "skills-header skills-header skills-header skills-header skills-header skills-header";
  grid-template-columns: repeat(6, 1fr); }

.languages {
  grid-area: languages;
  text-align: center;
  letter-spacing: 0.15rem; }
  .languages p {
    font-size: 1.3rem; }

.item {
  justify-self: center; }
  .item p {
    text-align: center; }
  .item img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-out; }

/* === Projects === */
.projects {
  display: grid;
  grid-gap: 1.3rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects a {
    text-decoration: none; }
  .projects img {
    width: 100%;
    border: 3px solid white; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #ff5733;
      transition: all 0.3s ease-out; }

/* ==== Contact Page Styling ==== */
.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*We want 2 columns 1fr each*/
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2.3em; }

.address {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.contact-form {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  border-radius: 0; }

.contact-lg-heading {
  font-size: 4rem; }

.contact-sm-heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 0.2rem 0; }

.my-email,
.my-phone {
  padding: 0.4rem 0;
  letter-spacing: 0.1rem; }

.map {
  height: 350px;
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.card {
  background: rgba(113, 144, 170, 0.9);
  height: 100%;
  border-radius: 0.2rem; }

.card-header {
  padding: 1.85rem 1.25rem;
  background: none; }
  .card-header h2 {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.1rem;
    font-weight: 600; }

.input-group input {
  background: rgba(255, 255, 255, 0.8); }

.textarea {
  padding: 1.2rem 0; }

.comments {
  padding: 0.5rem 0.8rem;
  width: 100%;
  height: 215px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.2rem;
  font-size: 1.2rem; }

.submit-btn {
  border-radius: 0.2rem;
  background-color: #22425e;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.1rem;
  font-weight: 500; }

/* ==== Styling the buttons ==== */
.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #ff5733;
    color: set-text-color(#ff5733); }

/* Here we are extending btn class  */
.btn-dark {
  background: #070d13;
  color: rgba(255, 255, 255, 0.8); }

.btn-light {
  background: #a2c1dd;
  color: #333333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #142839;
  color: set-text-color(#22425e);
  height: 4rem; }

/* == Xtra Large Screens == */
@media screen and (min-width: 1201px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

/* == Desktop & Laptop Screens == */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .skills {
    grid-area: skills;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "skills-header skills-header skills-header";
    grid-template-columns: repeat(3, 1fr); } }

/* == Small Laptops and Tables == */
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../images/onel-mobile.png");
      background-position: center;
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: "bioimage bioimage" "bio bio" "experience experience" "job1 job1" "job2 job3" "edu-skills-header edu-skills-header" "education skills" "languages languages";
    grid-template-columns: repeat(2, 1fr); }
  .experience-header {
    grid-area: experience; }
  .skills {
    grid-area: skills;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "skills-header skills-header";
    grid-template-columns: repeat(2, 1fr); }
  .edu-item {
    text-align: left; }
  .bio p {
    text-align: left; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

/* == Smartphones == */
@media screen and (max-width: 375px) {
  h1.lg-heading {
    font-size: 3rem; }
  .sm-heading {
    font-size: 1.2rem; }
  .contact-lg-heading {
    font-size: 2.2rem; }
  .contact-sm-heading {
    font-size: 0.8rem; } }

@media screen and (min-width: 376px) and (max-width: 630px) {
  h1.lg-heading {
    font-size: 3.5rem; }
  .sm-heading {
    font-size: 1.5rem; }
  .contact-lg-heading {
    font-size: 2.7rem; }
  .contact-sm-heading {
    font-size: 1.1rem; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 630px) {
  .about-info {
    grid-template-areas: "bioimage" "bio" "experience" "job1" "job2" "job3" "edu-skills-header" "education" "skills" "languages";
    grid-template-columns: 1fr; }
  .skills {
    grid-area: skills;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "skills-header skills-header skills-header";
    grid-template-columns: repeat(3, 1fr); }
  .edu-item {
    text-align: left; }
  .bio p {
    text-align: left; } }

@media screen and (max-width: 462px) {
  .skills {
    grid-area: skills;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "skills-header skills-header";
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 769px) {
  .boxes {
    grid-template-areas: "address" "contact-form" "map";
    grid-template-columns: 1fr; }
  .address {
    grid-area: address; }
  .map {
    grid-area: map; }
  .contact-form {
    grid-area: contact-form; } }

@media screen and (min-width: 770px) and (max-width: 1114px) {
  .boxes {
    grid-template-areas: "address map" "contact-form contact-form";
    grid-template-columns: repeat(2, 1fr); }
  .address {
    grid-area: address; }
  .map {
    grid-area: map; }
  .contact-form {
    grid-area: contact-form; } }
