/* Here we add the media query mixins for responsiveness */
/* ===== Menu button =====*/
.menu-btn {
  position: absolute;
  right: 35px;
  top: 35px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease-out; }
  .menu-btn .btn-line {
    background: white;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    transition: all 0.3s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6.5px, -6px); }

/* === Main manu overlay === */
.menu {
  visibility: hidden;
  opacity: 0.9;
  width: 100%;
  top: 0;
  position: fixed;
  /* Here we take care of the navigation part to come down from the top*/
  /* Here we take care of the branding part of the navigation to come up from the bottom*/
  /* Navigation items setup to slide from the right*/
  /* Style for the links */ }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #373737;
    transform: translate3d(0, -100%, 0);
    transition: all 0.3s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.3s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../images/dog.jpg");
      border-radius: 50%;
      border: 3px solid #ff5733; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.3s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #ff5733; }
  .menu .nav-link {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem 0;
    color: white; }
    .menu .nav-link:hover {
      color: #ff5733; }

/* To create the effect of each nav item coming after the other from the right*/
/*We use a sass for loop to go through all our items and delay their showing by 0.1s*/
.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.nav-item:nth-child(6) {
  transition-delay: 0.6s; }

/* == Xtra Large Screens == */
/* == Desktop & Laptop Screens == */
/* == Small Laptops and Tables == */
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../images/dog.jpg");
      width: 150px;
      height: 150px; } }

/* == Smartphones == */
@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }

* {
  box-sizing: border-box; }

body {
  background: #444444;
  color: white;
  height: 100%;
  margin: 0;
  line-height: 1.5; }
  body#bg-image {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-image .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(68, 68, 68, 0.9);
      z-index: -1; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-second {
  color: #ff5733; }

main {
  padding: 4rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #ff5733;
        transition: all 0.3s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
