$primary-color: rgb(68,68,68);
$secondary-color: rgb(255, 87, 51); 
$text-color: rgb(255,255,255);
$show-home-image: true;
$home-image: url(../images/background.jpg);
$background-opacity: 0.9;

@mixin easeOut { //a function-like utility
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image { //if $show-home-image is true
        &#bg-image { //then take all the elements with bg-image id under body and add the $home-image to the background
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            
            .overlay {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba($primary-color, $background-opacity);
                z-index: -1;
            }
        }
    }
}
